html { 
  background: url("./img/fond1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
ul{
  margin-top: 100px;
  text-align: center;
}
li{
  display: inline; 
  list-style: none;
  font-size: 30px;
  margin-left: 10px;
  text-decoration: none;
  background-color: black;
  border-radius: 15px;
  padding: 10px;
}
li:hover{
  background-color: white;
  color: black;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: black;
}
.App{
  text-align: center;
}